* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(240, 239, 202);
  color: rgb(0, 0, 0);
}

.Cont {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  justify-content: space-around;
}
.creditCont {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 1%;
}
.creditCont a {
  text-decoration: none;
  /* color: rgb(255, 181, 43); */
  color: rgb(190, 0, 143);
  font-size: larger;
  font-style: italic;
  font-weight: 700;
}

/*Main Stuff Below*/
:root {
  --bgColor: rgb(240, 239, 202);
  --btnColor: rgb(64, 148, 187);
}

.btn {
  width: 100px;
  height: 40px;
  border: solid 4px var(--btnColor);
  background-color: transparent;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.Cont p {
  font-family: system-ui;
  font-weight: 800;
  letter-spacing: 2px;
  font-size: large;

  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.bgEffect {
  transition: height 400ms ease;
  width: 100px;
  height: 100%;
  background-color: var(--bgColor);
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: -1;
}
body:has(.btn:hover) .bgEffect {
  transition: width 400ms ease, height 0ms 400ms ease;
  width: 0px;
  height: 0px;
}
.bgEffectColor {
  transition: height 400ms ease;
  width: 100px;
  height: 100%;
  background-color: var(--btnColor);
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: -2;
}
